APP_PORT=8092

POSTGRES_HOST=duon_db
POSTGRES_PORT=5432
POSTGRES_DATABASE=duondb
POSTGRES_USER=davidson
POSTGRES_PASSWORD=admin
POSTGRES_SSLMODE=disable

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

IS_PROD=0
TEMP_DIR=./tmp
